@media screen and (max-width: 375px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        width: 100%;
        font-family: var(--principalFont);
        font-size: 16px;
        background-color: var(--bgColor);
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center ;
        height: 10.75em;
        width: 100vw;
        background: url(../images/bg-sidebar-mobile.svg);
    }

    .sidebar-mobile {
        display: flex;
        height: 10.75em;
        width: 60vw;
        margin-top: 2em;
    }

    .step {
        justify-content: center;
    }

    .step-number {
        font-size: 18px;
    }

    .sidebar {
        display: none;
    }

    .principal-form {
        position: absolute;
        height: max-content;
        width: 92%;
        margin-top: 6em;
    }

    .form-step {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .form-step h1 {
        margin-top: 0;
    }

    .form-step p {
        margin-top: 0.5;
    }

    .form-step-1 {
        height: 100%;
        margin-top: 1.5em;
    }

    .btn-next-step {
        position: absolute;
        float: right;
        margin-top: 30em;
    }

    .form-step-2 {
        width: 100%;
        margin-top: 0.8em;
    }

    .form-step-2 p {
        margin: 0.5em 0 1em 0;
    }

    .plans {
        flex-direction: column;
        justify-content: space-between;
    }

    .plans label {
        display: flex;
        width: 20em;
        margin: 0.5em 0;
    }

    .plans h2 {
        margin-top: 0;
    }

    .plans a {
        margin-left: 1em;
    }

    .plans a p {
        margin: 0;
        margin-top: 0.6em;
    }

    .plans a div {
        margin-top: 0.2em;
    }

    .advanced-plan {
        margin: 0;
    }

    .button-container {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 4em;        
        width: 100%;
        margin-bottom: 0;
        padding: 0.8em;
        box-sizing: border-box;        
        background-color: var(--whiteColor);
    }

    .btn-n-s-2 {
        position: relative;
    }
    
    .btn-go-back2 {
        float: right;
    }
    
    .f-step-1 {
        display: flex;
    }
    
    .f-step-2 {
        display: none;
    }
    
    .f-step-3 {
        display: none;
    }
    
    .f-step-4 {
        display: none;
    }

    .step-5 {
        display: none;
        width: 100%;
    }

    .step-5 div {
        height: 5em;
        width: 100%;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .attribution {
        display: none;
    }
}