@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf') format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-Medium.ttf') format(truetype);
    font-weight: 500;
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-Bold.ttf') format(truetype);
    font-weight: 700;
}

:root {
    --principalFont: 'ubuntu';
    --whiteColor: #fff;
    --bgColor: #eef5ff;
    --borderStepSB: #f3f8ff;
    --selectedStep: #bce1fd;
    --selectedStepNumber: #00204a;
    --titleFontColor: #00204a;
    --warningColor: #e23349;
    --warningBorderColor: #9e5b64;
    --inputBorderColor: #d9d8dc;
    --inputHoverBorderColor: #554f95;
    --btnColor: #03295a;
    --btnHoverColor: #174a8b;
    --planBordeColor: #dbdbdd;
    --planSelectedBorderColor: #544d98;
    --planSelectedBgColor: #f8f9fe;
    --bgToggleColor: #032958;
    --textToggleColor: #95959f;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: var(--principalFont);
    font-size: 16px;
    background-color: /*var(--bgColor)*/ rgb(211, 211, 211);
}

.principal-form {
    display: flex;
    justify-content: space-between;
    height: 37.5em;
    width: 55em;
    border-radius: 10px;
    padding: 1em;
    box-sizing: border-box;    
    background-color: var(--whiteColor);
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 35.5em;
    width: 17.125em;
    background: url(../images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat; 
    padding: 2em;   
    box-sizing: border-box;
}

.step {
    display: flex;
    align-items: center;
    height: 3em;
    width: 10em;
    padding: 0.5em;
    margin: 0.5em 0;
    box-sizing: border-box;
}

.step-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    height: 2em;
    width: 2em;
    box-sizing: border-box;
    border-radius: 100%;
    border: 1px solid var(--borderStepSB);    
    color: var(--borderStepSB);
}

.step-selected {
    font-weight: 700;
    border: solid var(--selectedStep);
    color: var(--selectedStepNumber);
    background-color: var(--selectedStep);
}

.step-title {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    text-transform: uppercase;
    margin-left: 1em;
    color: var(--borderStepSB);
    line-height: 17px;
    font-weight: 500;
}

.step-title strong {
    font-size: 0.8em;
    font-weight: 400;
    opacity: 0.5;
}

.form-step {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 65%;
}

.form-step h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 1.5em;
    color: var(--titleFontColor);
}

.form-step p {
    margin-top: 0.5em;
    opacity: 0.6;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 28em;
}

.form-step-1 {
    display: flex;
    flex-direction: column;
    height: 25em;
    margin-top: 3em;
}

.form-step-1 div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4em;
}

.form-step-1 label {
    font-size: 13px;
    font-weight: 500;
    color: var(--titleFontColor);
}

.form-step-1 span {
    visibility: hidden;
    font-size: 14px;
    font-weight: 700;
    color: var(--warningColor);
}


.form-step-1 input {
    font-family: var(--principalFont);
    font-size: 17px;
    font-weight: 500;
    height: 2.5em;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: var(--inputBorderColor);
    padding: 0 0.5em;
    margin-bottom: 2em;
    color: var(--titleFontColor);
}

.form-step-1 input:hover {
    cursor: pointer;
    border-color: var(--inputHoverBorderColor);
}

.form-step-1 input:focus {
    outline-offset: 0px !important;
    outline: none !important;
    border-color: var(--inputHoverBorderColor);
}

.form-step-1 input::placeholder {
    font-weight: 400;
}

.warningBorder {
    border-color: var(--warningBorderColor)!important;
    
}

#span-name {
    visibility: hidden;
}

#span-email {
    visibility: hidden;
}

#span-number {
    visibility: hidden;
}

.btn-next-step {
    align-self: flex-end;
    font-family: var(--principalFont);
    font-weight: 700;
    height: 3em;
    width: 7.5em;
    border: none;
    border-radius: 5px;
    margin-top: 3.5em;
    background-color: var(--btnColor);
    color: var(--whiteColor);
}

.btn-next-step:hover {
    cursor: pointer;
    background-color: var(--btnHoverColor);
}

.form-step-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.form-step-2 h1, p {
    align-self: flex-start;
    margin: 0;
}

.form-step-2 p {
    margin-bottom: 3em;
}

.form-container-step-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plans {
    display: flex;
    justify-content: space-between;
}

.plans label {

    width: 8.5em;
    border: 1px solid var(--planBordeColor);
    border-radius: 8px;
    padding: 1em;
    box-sizing: border-box;
}

.plans input {
    position: absolute;
    opacity: 0;
    z-index: -1000;
 }

 .plans label:hover {
    cursor: pointer;
    border-color: var(--planSelectedBorderColor);
 }

.plans input:checked + label {
    background-color: var(--planSelectedBgColor);
    border-color: var(--planSelectedBorderColor);
 }

.plans h2 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 3em;
    color: var(--titleFontColor);
}

.plans p {
    font-size: 13px;
    margin-bottom: 0.5em;
}

.plans span {
    font-size: 13px;
    color: var(--titleFontColor);
}

.plans label div {
    display: none;
    margin-top: 0.5em;
}

.yearly-option label div {
    display: block;
}

.advanced-plan {
    margin: 0 1.12em;
}

.plan-time {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 100%;
    border-radius: 5px;
    margin-top: 1.5em;
    background-color: var(--planSelectedBgColor);
}

.switch-toggle-text {
    font-size: 14px;
    font-weight: 500;
    color: var(--textToggleColor);
}

.toggle-text-selected {
    color: var(--titleFontColor);
}

.switch-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 1em;
    width: 1.8em;
    margin: 0 1em;
    background: var(--bgToggleColor);
}

.switch-toggle label {
    position: relative;
    align-self: center;
    height: 0.7em;
    width: 0.7em;
    border-radius: 15px;
 }

 .switch-toggle label:hover {
    cursor: pointer;
 }

.switch-toggle input {
    position: absolute;
    margin: 1px;
    opacity: 0;
    z-index: -1000;
 }

 .switch-toggle input:hover {
    cursor: pointer;
 }

 .switch-toggle input:checked + label {
    background: var(--whiteColor);
 }

 .switch-toggle input:checked + label:hover {
    background: var(--planSelectedBgColor);
    cursor: pointer;
 }



.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.8em;
}

.button-container button {
    margin-top: 0;
}

.btn-go-back {
    font-family: var(--principalFont);
    font-weight: 700;
    height: 3em;
    width: 7.5em;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    opacity: 0.6;
}













/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */
/* -- Implementar funções nos botões "go back" e "next step" -- */
/* --------------------------step-2---------------------------- */
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */









.f-step-1 {
    display: none;
}

.f-step-2 {
    display: flex;
}

.f-step-3 {
    display: none;
}

.f-step-4 {
    display: none;
}

